@font-face {
	font-family: 'woodstock';
	src:url('../fonts/woodstock/woodstock.eot?421wez');
	src:url('../fonts/woodstock/woodstock.eot?#iefix421wez') format('embedded-opentype'),
		url('../fonts/woodstock/woodstock.svg?421wez#woodstock') format('svg'),
		url('../fonts/woodstock/woodstock.woff?421wez') format('woff'),
		url('../fonts/woodstock/woodstock.ttf?421wez') format('truetype');
		
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'woodstock';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-woodstock-icons-01:before {
	content: "\e600";
}
.icon-woodstock-icons-02:before {
	content: "\e601";
}
.icon-woodstock-icons-03:before {
	content: "\e602";
}
.icon-woodstock-icons-04:before {
	content: "\e603";
}
.icon-woodstock-icons-05:before {
	content: "\e604";
}
.icon-woodstock-icons-06:before {
	content: "\e605";
}
.icon-woodstock-icons-07:before {
	content: "\e606";
}
.icon-woodstock-icons-08:before {
	content: "\e607";
}
.icon-woodstock-icons-09:before {
	content: "\e608";
}
.icon-woodstock-icons-10:before {
	content: "\e609";
}
.icon-woodstock-icons-11:before {
	content: "\e60a";
}
.icon-woodstock-icons-12:before {
	content: "\e60b";
}
.icon-woodstock-icons-13:before {
	content: "\e60c";
}
.icon-woodstock-icons-14:before {
	content: "\e60d";
}
.icon-woodstock-icons-15:before {
	content: "\e60e";
}
.icon-woodstock-icons-16:before {
	content: "\e60f";
}
.icon-woodstock-icons-17:before {
	content: "\e610";
}
.icon-woodstock-icons-18:before {
	content: "\e611";
}
.icon-woodstock-icons-19:before {
	content: "\e612";
}
.icon-woodstock-icons-20:before {
	content: "\e613";
}
.icon-woodstock-icons-21:before {
	content: "\e614";
}
.icon-woodstock-icons-22:before {
	content: "\e615";
}
.icon-woodstock-icons-23:before {
	content: "\e616";
}
.icon-woodstock-icons-24:before {
	content: "\e617";
}
.icon-woodstock-icons-25:before {
	content: "\e618";
}
.icon-woodstock-icons-26:before {
	content: "\e619";
}
.icon-woodstock-icons-27:before {
	content: "\e61a";
}
.icon-woodstock-icons-28:before {
	content: "\e61b";
}
.icon-woodstock-icons-29:before {
	content: "\e61c";
}
.icon-woodstock-icons-30:before {
	content: "\e61d";
}
.icon-woodstock-icons-31:before {
	content: "\e61e";
}
.icon-woodstock-icons-32:before {
	content: "\e61f";
}
.icon-woodstock-icons-33:before {
	content: "\e620";
}
.icon-woodstock-icons-34:before {
	content: "\e621";
}
.icon-woodstock-icons-35:before {
	content: "\e622";
}
.icon-woodstock-icons-36:before {
	content: "\e623";
}
.icon-woodstock-icons-37:before {
	content: "\e624";
}
.icon-woodstock-icons-38:before {
	content: "\e625";
}
.icon-woodstock-icons-39:before {
	content: "\e626";
}
.icon-woodstock-icons-40:before {
	content: "\e627";
}
.icon-woodstock-icons-41:before {
	content: "\e628";
}
.icon-woodstock-icons-42:before {
	content: "\e629";
}
.icon-woodstock-icons-43:before {
	content: "\e62a";
}
.icon-woodstock-icons-44:before {
	content: "\e62b";
}
.icon-woodstock-icons-45:before {
	content: "\e62c";
}
.icon-woodstock-icons-46:before {
	content: "\e62d";
}
.icon-woodstock-icons-47:before {
	content: "\e62e";
}